.headerAndNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e9e9;
  width: 100%;
  text-shadow: 2px 2px 5px #333;

}
.displayDecoration{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("desola-lanre-ologun-vII7qKAk-9A-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 36px;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #00c8fe;
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff;
}
.navClass{
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
  color: #000000;
  padding-right: 30px;
}
.footerNav{
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
  color: #ffffff;
  padding-right: 30px;
}
.footerNav:hover{
  transform: scale(1.2);
}
.footerNavClass{
  padding-bottom: 30px;
}
.navClass:hover, #nameHeader:hover{
  transform: scale(1.2);
  color: #00c8fe;
}
.contactPlatforms, .footerNavClass{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactPlatforms a{
  margin: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.contactPlatforms img{
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 8px;

}
.copyright{
  height: 80px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
#contactMeHeading{
  padding-left: 10px;
}
.contactMe{
  padding-top: 0px;
  padding-left: 45px;
  padding-bottom: 35px;
}
#experienceImages{
  max-width: 300px;
  max-height: 300px;
  vertical-align: center;
}

/*MySkills style*/

.skillsData, .skillsLearning {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.skillItem , .skillLearnItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillItem img , .skillLearnItem img{
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}
.skillLearnItem{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.skillLearnItem:hover{
  transform: scale(1.2);
}
.mySkillsHeader{
  background-color: #00c8fe;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
}
.learnJavaDiv, .learnHTMLDiv, .learnCSSDiv, .learnJavaScriptDiv, .learnPythonDiv, .learnMySQLDiv, .learnLinuxDiv, .learnOfficeDiv, #clickLinkInstruction{
  display: none;
}
.learnASkill a{
  color: #00c8fe;
}
#clickLinkInstruction{
  background-color:#e7e9e9;
  text-align: center;
}
.learnASkill{
  text-align: center;
}

a{
  text-decoration: none;
}
body{
  padding: 0;
  margin: 0;
}
footer{
  padding-top: 20px;
  background-color: #00c8fe;
  color: #ffffff;
}
html{
  scroll-behavior: smooth;
}

@media only screen and (max-width: 480px) {
  #menuBar{
    display: block;
    position:relative;
    padding-right: 30px;
    opacity: 1;
    transition: opacity 0.5s;
  }
  #menuNavigation{
    display: block;
    color: #ffffff;
    background-color: #d7d7d7;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    top: 30px;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
  }
  #menuNavigation.show {
        opacity: 1;
        visibility: visible;
      }
  #menuNavigation a{
    color: #000000;
    text-shadow: none;
    padding-top: 10px;
  }

  .heading{
    margin: 0;
    text-align: center;
    background-color: #e7e9e9;
  }
  .navDataSummary p, #projectDesc{
    padding-left: 15px;
    padding-right: 15px;
  }
  .navDataSummary a{
    padding-left: 15px;
    color: red;
  }
  #summaryHeading, #projectsHeading{
    background-color: #00c8fe;
    text-align: center;
    border-top: solid 1px;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
  .skillsData{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .gitHubInfo{
    background-color: #ffffff;
    width: 95%;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }
  .gitHubInfo a{
    background-color: #00c8fe;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
  }
  #nameHeader{
    margin-left: 20px;
    color: #00c8fe;
  }

  /*about me style*/
  .aboutTop h1{

    border-top: solid #00c8fe;
  }
  .aboutMeSummary img{
    display: block;
    margin: 0 auto;
    border: solid 10px;
    color: #00c8fe;
    border-radius: 25%;
    margin-top: 10px;
    margin-top: 10px;
  }
  .aboutTop{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    background-color: #e7e9e9;
    border-top: solid #00c8fe;
  }
  .aboutMeSummary p{
    padding-left: 15px;
    padding-right: 15px;
  }

  /*projects style*/

  #projectHeading{
    padding-top: 0px;
    margin-top: 0px;
    border-top: solid #00c8fe 1px;
    background-color:#e7e9e9;
    text-align: center;
  }
  .myProjects p, .myProjects h2, .myProjects span{
    padding: 10px;
  }
  .myProjects a{
    display: block;
    margin: 0 auto;
    color: red;
    text-align: center;
    text-decoration: underline;
  }
  .myProjects img{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  /*experience style*/
  .experience img{
    display: block;
    margin: 0 auto;
  }
  .experienceImages{
    border-bottom: solid 1px;
    padding-bottom: 10px;
  }
  .experience h2{
    text-align: center;
    background-color:#e7e9e9;
    border-top: solid #00c8fe 1px;
  }
  .experience h4, .experience p{
    padding: 10px;
  }
}
