.headerAndNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e9e9;
  width: 100%;
  text-shadow: 2px 2px 5px #333;

}
.displayDecoration{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("emile-perron-xrVDYZRGdw4-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 36px;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #00c8fe;
  text-align: center;
  text-shadow: 2px 2px 5px #333;
}
.navClass{
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
  color: #000000;
  padding-right: 30px;
}
.footerNav{
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
  color: #ffffff;
  padding-right: 30px;
}
.footerNav:hover{
  transform: scale(1.2);
}
.footerNavClass{
  padding-bottom: 30px;
}
.navClass:hover, #nameHeader:hover{
  transform: scale(1.2);
  color: #00c8fe;
}
.contactPlatforms, .footerNavClass{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactPlatforms a{
  margin: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.aboutSummary h1{
  color: #00c8fe;
}
.aboutSummary p{
  padding-right: 30px;
}
.aboutSummary {
  text-align: center;
}
.aboutSummary img{
  margin-top: 60px;
  border: 10px solid magenta;
  border-radius: 30%;
  padding-left: 0px;
}
.contactPlatforms img{
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 8px;

}
.gitHubInfo{
  background-color: #ffffff;
  width: 98%;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
}
.gitHubInfo h3,p{
  margin-left: 60px;
}
.gitHubInfo h3{
  padding-top: 40px;
}
.gitHubInfo a{
  background-color: #00c8fe;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 14%;
  float: right;
  position: relative;
  top: -55px;
}
.copyright{
  height: 80px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.skillsData {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-items: center;
  padding-left: 30%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  margin-bottom: 10px;
}
#nameHeader{
  padding-left: 40px;
  transition: transform 0.2s ease-in-out;
}
#experienceImages{
  max-width: 400px;
  max-height: 400px;
}
a{
  text-decoration: none;
}
footer{
  padding-top: 20px;
  background-color: #00c8fe;
  color: #ffffff;
}
th{
  color: #00c8fe;
  font-size: 40px;
  text-align: center;
}
