* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.headerAndNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e9e9;
  width: 100%;
  text-shadow: 2px 2px 5px #333;
  padding: 1rem;
}

.navClass {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
  color: #000000;
  padding-right: 30px;
  font-size: 1.2rem;
}

.navClass:hover, #nameHeader:hover {
  transform: scale(1.2);
  color: #00c8fe;
}

.displayDecoration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("desola-lanre-ologun-vII7qKAk-9A-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 2.5rem;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #00c8fe;
  text-align: center;
  text-shadow: 2px 2px 0px #ffffff;
}

footer {
  padding-top: 20px;
  background-color: #00c8fe;
  color: #ffffff;
  padding: 1rem;
}

.footerNav {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
  color: #ffffff;
  padding-right: 30px;
  font-size: 1.2rem;
}

.footerNav:hover {
  transform: scale(1.2);
}

.mySkillsHeader {
  background-color: #00c8fe;
  padding: 1rem;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
}

.learnASkill {
  text-align: center;
  padding: 1rem;
}

.contactMe {
  padding: 1rem;
}

table {
  margin-bottom: 50px;
  width: 100%;
}

th {
  color: #00c8fe;
  font-size: 1.5rem;
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 40px;
}

td p {
  margin: 0 !important;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
  .displayDecoration {
    font-size: 1.5rem;
  }

  .mySkillsHeader {
    font-size: 1.5rem;
  }

  .navClass {
    font-size: 1rem;
  }

  .footerNav {
    font-size: 1rem;
  }

  table {
    font-size: 0.8rem;
  }
}

/* For tablet devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .displayDecoration {
    font-size: 2rem;
  }

  .mySkillsHeader {
    font-size: 2rem;
  }

  .navClass {
    font-size: 1.2rem;
  }

  .footerNav {
    font-size: 1.2rem;
  }

  table {
    font-size: 1rem;
  }
}
